*,::after,::before{box-sizing:border-box}blockquote,body,dd,dl,figure,h1,h2,h3,h4,p{margin:0}ol[role=list],ul[role=list]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}button,input,select,textarea{font:inherit}@media (prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,::after,::before{animation-duration:0s!important;animation-iteration-count:1!important;transition-duration:0s!important;scroll-behavior:auto!important}}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;600&display=swap');

* {
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: #1d1d1d;
  padding: 15px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.9);
}

.row {
  padding: 15px;
  width: 100%;
}

@media screen and (max-width: 1140px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 590px;
  }
}

h1 {
  text-align: center;
  font-weight: 600;
  padding-bottom: 30px;
}

h2, p {
  font-weight: 300;
}

button {
  padding: 15px 30px;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

.hide {
  opacity: 0;
  pointer-events: none;
}